.header {
    height         : 70px;
    width          : 100%;
    display        : flex;
    justify-content: space-between; // pushed apart as far as possible
    margin-bottom  : 25px;

    .logo-container {
        height : 100%;
        width  : 70px;
        padding: 25px;
        display: flex;
    }

    .options {
        width          : 50%;
        height         : 100%;
        display        : flex;
        align-items    : center;
        justify-content: flex-end;

        .option {
            padding: 10px 15px; // L R D U padding 
            cursor: pointer;     // to make cursor to pointer when hoverd on this
        }

    }

}